@font-face {
    font-family: "TF2";
    src: url("/fonts/TF2.woff") format("woff"),
        url("/fonts/TF2.woff2") format("woff2");
}

@font-face {
    font-family: "TF2 Secondary";
    src: url("/fonts/TF2Secondary.woff") format("woff"),
        url("/fonts/TF2Secondary.woff2") format("woff2");
}

@font-face {
    font-family: "TF2 Build";
    src: url("/fonts/TF2Build.woff") format("woff"),
        url("/fonts/TF2Build.woff2") format("woff2");
}
