:root {
  --topnav-height: 27px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: max-content;
  margin-inline: auto;
  border-radius: 10px;
  margin: 10px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: tf2;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #045faa;
  color: white;
}

.topnav a.logo {
  padding: 7px 9px;
  color: white;
}

.topnav a.logoactive {
  padding: 7px 9px;
  background-color: #045faa;
  color: white;
}

.topnav a.logo img {
  height: var(--topnav-height);
}

/* mouse over link */
.topnavbutton:hover {
  color: rgb(255, 255, 255);
}

/* unvisited link */
.topnavbutton:link {
  color: rgb(255, 255, 255);
}

/* visited link */
.topnavbutton:visited {
  color: rgb(255, 255, 255);
}

/* mouse over link */
.topnavbutton:hover {
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
  .topnav {
    width: 100%;
    max-width: none;
    border-radius: 0;
    margin: 0;
  }

  .topnav .icon {
    display: block;
    float: right;
    font-size: 24px;
    padding: 12px 16px;
    color: white;
    cursor: pointer;
  }

  .topnav a:not(.logo):not(.icon) {
    display: none;
    float: none;
    width: 100%;
    text-align: left;
    border-top: 1px solid #444;
    background-color: #333;
  }

  .topnav.responsive a:not(.logo):not(.icon) {
    display: block;
  }
}